# Dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*

# Next.js
/.next/
/out/
/build

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Env
.env*.local
.env

# Vercel / Cloudflare
.vercel
.wrangler

# Misc
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts.bak

# IDE
.idea/
.vscode/
.cf.env
